table {
    border-collapse: collapse;
    height: 500px;
    width: 500px;
}
td {
    border: solid 15px black;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}
.black {
    background-color: black;
}
