@font-face {
    font-family: 'atvice.ttf';
    src: url(fonts/ATViCE.ttf);
}
@font-face {
    font-family: 'PFScandalPro-Black.ttf';
    src: url(fonts/PFScandalPro-Black.ttf);
}
body {
    background-color: #f5ca99;
}
/*
header {
    background-color: #5ea8a7;
}
*/
h1 {
    font-family: "atvice.ttf";
    font-size: 150px;
    color: #fe7a47;
    text-align: center;
    margin: 50px;
}
.header::after {
    color: #d8412f;
    content: '4'
}
h2 {
    text-align: center;
    font-size: 50px;
    color: #d8412f;
    margin: 50px;
}
h3 {
/*    text-align: center;*/
    font-size: 30px;
    color: #fe7a47;
    margin: 20px;
}
.content {
    background-color: #fcfdfe;
    margin: auto;
    margin-bottom: 50px;
    width: 80%;
    border: 0;
    border-radius: 20px;
    padding: 20px;
}
.photo {
    width: 300px;
    float: left;
    border: solid 5px #d8412f;
    border-radius:200px;
    margin: 20px;
}
.poster {
    width: 90%;
    display: block;
    margin: auto;
    margin: 50px 50px;
    border-radius: 20px;
    position: relative;
}
.info {
    width: 95%;
    margin: 50px;
}
li {
    font-size: 20px;
}
li::before {
    color: #d8412f;
    content: '● ';
•}
p {
    font-size: 20px;
}
p::after {
    color: #d8412f;
    font-size: 30px;
    content: '»'
}
p::before {
    color: #d8412f;
    font-size: 30px;
    content: '«'
}
a {
    text-decoration: none;
    color: #fe7a47;
}
a:hover {
    color: #d8412f;
}
.fantastic4 {
    position: relative;  
/*    display: none;*/
}
.epic {
/*    float: right;*/
    font-family: sans-serif;
    text-align: center;
    margin: 10px 10px;
}
.epic::after {
    content: 'ヾ(-_- )ゞ';
}
.span1 {
    font-family: "PFScandalPro-Black.ttf";
    color:#d8412f;
    font-size: 70px;
    position: absolute;
    bottom: 80%;
    left: 15%;
    text-shadow: #fcfdfe 2px 0px, #fcfdfe 2px 2px, #fcfdfe 0px 2px, #fcfdfe -2px 2px, #fcfdfe -2px 0px, #fcfdfe -2px -2px, #fcfdfe 0px -2px, #fcfdfe 2px -2px;
    z-index: 2;
}
.span2 {
    font-family: "PFScandalPro-Black.ttf";
    color: #fe7a47;
    font-size: 40px;
    position: absolute;
    bottom: 78%;
    left: 20%;
    text-shadow: #fcfdfe 2px 0px, #fcfdfe 2px 2px, #fcfdfe 0px 2px, #fcfdfe -2px 2px, #fcfdfe -2px 0px, #fcfdfe -2px -2px, #fcfdfe 0px -2px, #fcfdfe 2px -2px;  
}
.span3 {
    font-family: "PFScandalPro-Black.ttf";
    color: #fcfdfe;
    font-size: 50px;
    position: absolute;
    bottom: 10%;
    left: 60%;
}
.hover {
    position: relative;
}
.hover_h2 {
    margin: 0;
    padding: 0;
/*
    position: absolute;
    bottom: -40%;
    left: 20%;
*/
}
/*
div.hover:hover > div.fantastic4 {
    display: block;
}*/
audio {
    margin: 0% 0 0 20%;
    width: 600px;
    background-color: red;
}
.yeah {
    font-size: 40px;
    text-align: center;
    margin: 100px;
    color: gray;
}
._2::after {
   content: '⌐■-■'; 
    color: black;
}
._3 {
    color: black;
}
._3::before {
    color: gray;
    content: "("
}
._3::after {
    color: gray;
    content: ')'
}